<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments :: header}"></th:block>
    <title>Trang chủ - Vé Máy Bay</title>
</head>
<body>

<div th:replace="~{fragments :: navbar}"></div>

<div class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Chào mừng đến với BookingTicket</h1>
            <p class="col-md-8 fs-4">Nền tảng đặt vé máy bay hàng đầu.</p>
            <a th:href="@{/dashboard}" class="btn btn-primary btn-lg" type="button">Tìm chuyến bay ngay</a>
        </div>
    </div>
</div>

<div th:replace="~{fragments :: footer}"></div>

</body>
</html>